In [ ]:
import numpy as np
import pandas as pd

:

In [44]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [45]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [46]:
cine = movies.merge(credits,on='title')

In [47]:
cine.shape

(4809, 23)

In [48]:
#genres
#id
#keywords
#title
#overview
#release_date
#cast
#crew

In [49]:
cinemas1 = cine[['genres','id','title','overview','keywords','cast','crew','release_date']]

In [50]:
cinemas1.head(1)

,genres,id,title,overview,keywords,cast,crew,release_date
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10

In [51]:
cinemas1.isnull().sum()

genres          0
id              0
title           0
overview        3
keywords        0
cast            0
crew            0
release_date    1
dtype: int64

In [52]:
cinemas1.dropna(inplace=True)
cinemas1.iloc[0].genres

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\1167114947.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1.dropna(inplace=True)

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [53]:
import ast

In [54]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [55]:
cinemas1['genres'] = cinemas1['genres'].apply(convert)

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\2308265856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['genres'] = cinemas1['genres'].apply(convert)

In [56]:
cinemas1.head()

,genres,id,title,overview,keywords,cast,crew,release_date
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",2009-12-10
1,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",2007-05-19
2,"[Action, Adventure, Crime]",206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",2015-10-26
3,"[Action, Crime, Drama, Thriller]",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",2012-07-16
4,"[Action, Adventure, Science Fiction]",49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",2012-03-07

In [57]:
cinemas1['keywords'] = cinemas1['keywords'].apply(convert)

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\3697726581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['keywords'] = cinemas1['keywords'].apply(convert)

In [58]:
def converting(obj):
  L = []
  c = 0
  for i in ast.literal_eval(obj):
    if c !=3:
      L.append(i['name'])
      c+=1
    else:
      break
  return L

In [59]:
cinemas1['cast']=cinemas1['cast'].apply(converting)

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\1266489152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['cast']=cinemas1['cast'].apply(converting)

In [60]:
def fetch_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
      break
  return L

In [61]:
cinemas1['crew']=cinemas1['crew'].apply(fetch_director)

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\1346628094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['crew']=cinemas1['crew'].apply(fetch_director)

In [62]:
cinemas1.head()

,genres,id,title,overview,keywords,cast,crew,release_date
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],2009-12-10
1,"[Adventure, Fantasy, Action]",285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],2007-05-19
2,"[Action, Adventure, Crime]",206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],2015-10-26
3,"[Action, Crime, Drama, Thriller]",49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],2012-07-16
4,"[Action, Adventure, Science Fiction]",49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],2012-03-07

In [63]:
cinemas1['overview']=cinemas1['overview'].apply(lambda x:x.split())

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\3072216485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['overview']=cinemas1['overview'].apply(lambda x:x.split())

In [64]:
cinemas1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4805 entries, 0 to 4808
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        4805 non-null   object
 1   id            4805 non-null   int64
 2   title         4805 non-null   object
 3   overview      4805 non-null   object
 4   keywords      4805 non-null   object
 5   cast          4805 non-null   object
 6   crew          4805 non-null   object
 7   release_date  4805 non-null   object
dtypes: int64(1), object(7)
memory usage: 337.9+ KB

In [65]:
cinemas1['genres']=cinemas1['genres'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\1306447537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['genres']=cinemas1['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [66]:
cinemas1['crew']=cinemas1['crew'].apply(lambda x:[i.replace(" ","") for i in x])
cinemas1['cast']=cinemas1['cast'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\815665850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['crew']=cinemas1['crew'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\815665850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['cast']=cinemas1['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [67]:
cinemas1['keywords']=cinemas1['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\1862125653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['keywords']=cinemas1['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [68]:
cinemas1['tags'] = cinemas1['overview']+cinemas1['genres']+cinemas1['keywords']+cinemas1['cast']+cinemas1['crew']

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\2987392317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cinemas1['tags'] = cinemas1['overview']+cinemas1['genres']+cinemas1['keywords']+cinemas1['cast']+cinemas1['crew']

In [69]:
new_df=cinemas1[['id','title','tags']]

In [70]:
new_df.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [71]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [72]:
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\2543325826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())

In [73]:
from sklearn.feature_extraction.text import CountVectorizer

cv= CountVectorizer(max_features=5000 ,stop_words='english')

In [74]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [75]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [76]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [77]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [78]:
def stem(text):
  y=[]
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [79]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\EG1001TU\AppData\Local\Temp\ipykernel_25112\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [80]:
from sklearn.metrics.pairwise import cosine_similarity

In [81]:
similarity = cosine_similarity(vectors)

In [82]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(539, 0.25724787771376323),
 (1194, 0.2545875386086578),
 (507, 0.2472066162365221),
 (1216, 0.24595492912420727),
 (260, 0.2434322477800738)]

In [86]:
def recommend(movie):
  movieindex = new_df[new_df['title'] == movie ].index[0]
  distances= similarity[movieindex]
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [87]:
recommend('Batman')

Batman
Batman & Robin
The Dark Knight Rises
Batman Begins
Batman Returns